* {
    margin: 0;
    padding: 0;
}

input {
    width: 80%;
    outline: none;
    border: 0;
    background: transparent;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

::placeholder {
    color: white;
}

#back-img {
    position: absolute;
    width: 100%;
    height: 100%;
}

#background {
    position: relative;
    width: 100%;
    height: 100%;
    /*background-color: #100F3E;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 810px;
    height: 330px;
    left: 370px;
    top: 195px;
    display: flex;
    flex-direction: row;
}

#side-bar {
    position: relative;
    width: 160px;
    height: 330px;
    border: 4px #4A2E87 solid;
    background-color: #100F3E;
}

#choose-btn {
    position: absolute;
    width: 160px;
    height: 110px;
    background-color: #4A2E87;
    top: 0px;
    transition: .5s;
}

#side-bar-buttons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.toggle-btn {
    width: 100%;
    height: 110px;

    outline: none;
    border: 0;
    cursor: pointer;

    background: transparent;
    color: white;

    flex-grow: 1;
    z-index: 2;
}

/*.toggle-btn:hover{
   background-color: #472D73;
}*/

#main {
    width: 650px;
    height: 330px;
    background-color: #100F3E;
    border: 4px #4A2E87 solid;
    border-left: 0px;
    border-radius: 0px 60px 60px 0px;
    position: relative;
    overflow: hidden;
}

#groups-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    transition: .5s;
}

.input-group {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.head-text {
    position: relative;

    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    text-align: center;

    color: #FFFFFF;

    position: absolute;
    top: 26px;
}

.input-area {
    width: 550px;
    height: 50px;
    background: #2C3C77;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

.submit-button {
    background: #4A2E87;
    border-radius: 20px;

    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    outline: none;
    border: 0;
    cursor: pointer;

    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;

    position: absolute;
    width: 200px;
    height: 45px;
    top: 250px;
}

/* login page */

#login1 {
    position: absolute;
    top: 100px;
}

#login1 svg {
    position: relative;
    left: 30px;
}

#login1 input {
    position: relative;
    top: 1px;
    left: 40px;
}

#login2 {
    position: absolute;
    top: 170px;
}

#login2 svg {
    position: relative;
    left: 27px;
}

#login2 input {
    position: relative;
    top: 1px;
    left: 30px;
}

/* registration page */

#reg1 {
    position: relative;
    top: 80px;
}

#reg1 svg {
    position: relative;
    left: 30px;
}

#reg1 input {
    position: relative;
    top: 1px;
    left: 40px;
}

#reg2 {
    position: relative;
    top: 85px;
}

#reg2 svg {
    position: relative;
    left: 27px;
}

#reg2 input {
    position: relative;
    top: 1px;
    left: 30px;
}

#reg3 {
    position: relative;
    top: 90px;
}

#reg3 svg {
    position: relative;
    left: 27px;
}

#reg3 input {
    position: relative;
    top: 1px;
    left: 30px;
}

/* restore page */
#restore1 {
    position: absolute;
    top: 110px;
}

#restore1 svg {
    position: relative;
    left: 30px;
}

#restore1 input {
    position: relative;
    top: 1px;
    left: 40px;
}

.oauth-button {
    outline: none;
    border: 0;
    cursor: pointer;

    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;

    border-radius: 50px;
    background: blue;
}

#oauth-login {
    position: absolute;
    left: 160px;
    top: 250px;
    width: 50px;
    height: 50px;
}

#oauth-reg {
    position: absolute;
    left: 160px;
    top: 580px;
    width: 50px;
    height: 50px;
}

