#main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#info1 {
    position: relative;
    top: 60px;
    width: 775px;
    height: 200px;

    display: flex;
    flex-direction: row;
}

#info2 {
    position: relative;
    top: 85px;
    width: 775px;
    height: 60px;

    display: flex;
    flex-direction: row;
}

#photo {
    position: relative;
    left: 0;
    width: 200px;
    height: 200px;

    border-radius: 20px;
    background: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

#photo img {
    width: 200px;
    height: 200px;

    border-radius: 20px;
}

#names {
    position: relative;
    left: 25px;
    width: 550px;
    height: 200px;
}

#name {
    width: 100%;
    height: 50px;

    background: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

#description {
    position: relative;
    top: 10px;
    width: 100%;
    height: 140px;

    background: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-div {
    position: relative;
    left: 0;
    width: 200px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-div button {
    outline: none;
    border: 0;
    cursor: pointer;

    width: 160px;
    height: 60px;
    border-radius: 15px;
    background: #4A2E87;
}

#chat-list {
    position: relative;
    left: 25px;
    width: 550px;
    height: 60px;

    background: white;

    display: flex;
    justify-content: center;
    align-items: center;
}
