#main {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#chat-list {
    width: 200px;
    height: 100%;
    border-right: #4A2E87 4px solid;

    overflow-y: auto;
}


#chat-list::-webkit-scrollbar {
    width: 0px;
}

/*!* Track *!*/
/*#chat-list::-webkit-scrollbar-track {*/
/*    box-shadow: inset 0 0 5px grey;*/
/*    border-radius: 10px;*/
/*}*/

/*!* Handle *!*/
/*#chat-list::-webkit-scrollbar-thumb {*/
/*    background: #4A2E87;*/
/*    border-radius: 10px;*/
/*}*/

/*!* Handle on hover *!*/
/*#chat-list::-webkit-scrollbar-thumb:hover {*/
/*    background: #472D73;*/
/*}*/


.chatElement {
    width: 100%;
    height: 50px;
    margin: 3px 0 0 0;

    border-radius: 10px;
    background: #DED8FF;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.chatElement:hover {
    background: #C9C4E5;
}

.chatElement div {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #000000;
}

#chat-view {
    width: 800px;
    height: 100%;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#messages {
    width: 90%;
    height: 530px;
    bottom: 0;
    /* for scroll bar */
    padding: 0 10px 0 0;

    display: flex;
    flex-direction: column-reverse;

    overflow-y: auto;
}

#messages::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#messages::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
#messages::-webkit-scrollbar-thumb {
    background: #4A2E87;
    border-radius: 10px;
}

/* Handle on hover */
#messages::-webkit-scrollbar-thumb:hover {
    background: #472D73;
}

.message {
    width: auto;
    height: auto;
    padding: 5px 10px;
    margin-bottom: 10px;

    background: #DED8FF;
    border-radius: 10px;
    cursor: pointer;
}

.message:hover {
    background: #C9C4E5;
}

.message-text {
    text-wrap: normal;
    color: #000000;
}

.timestamp {
    font-size: 12px;
    text-align: right;
}

#send-message-background {
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#send-message {
    width: 680px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#send-message-input {
    width: 600px;
    height: 60px;

    border-radius: 15px;
}

#send-message-btn {
    position: relative;
    left: 20px;
    width: 60px;
    height: 60px;

    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#send-message-btn-img {
    width: 100%;
    height: 100%;
}
