* {
    margin: 0;
    padding: 0;
}

input {
    width: 80%;
    outline: none;
    border: 0;
    background: transparent;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

::placeholder {
    color: white;
}

#back-img {
    position: absolute;
    width: 100%;
    height: 100%;
}

#background {
    position: relative;
    width: 100%;
    height: 100%;
    /*background-color: #100F3E;*/
    display: flex;
    justify-content: center;
    align-items: center;
}


#content {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

#menu {
    position: relative;
    width: 1000px;
    height: 100px;
    background: #4A2E87;
    border-left: #4A2E87 4px solid;
    border-right: #4A2E87 4px solid;
}

#main {
    position: relative;
    width: 1000px;
    height: 100%;
    border-left: #4A2E87 4px solid;
    border-right: #4A2E87 4px solid;
    background: #100F3E;

    display: flex;
    align-items: center;
    flex-direction: column;
}
